/* Styles go here */

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: black;
  }
.mainColor{
    color: black;
}
  #nav{
      background-color: #dc3545;
  }
  #title{
      text-align: center;
      margin: 20px;
      font-size: 30px;
  }
  
  #container{
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      height:700px;
  }



.pr-2{
    padding-right: 50px;
}
.pr-3{
    padding-right:75px;
}
.pr-4{
    padding-right:100px  !important;
}

.pl-4{
    padding-left:100px  !important;
}

#navTag{
    margin-left:100px  !important;
}

.header{
    text-align: center;
    padding-bottom:20px;
    color:rgb(255, 99, 132);
}

.subHeader{
    /* margin-top: 400px; */
    text-align: center;
    /* border: 2px solid green  !important; */
    
}

.mainstyle{
    background-color:black;
    color:white
}

.tableBody{
    color:white !important;


}

.tableBody tr{
 height: 60px;
}
.textCenter{
    text-align: center;
}

.hoverEffect{
    cursor:pointer !important;
}

.graphAnchor{
    color:blue !important;
}

