/* Styles go here */



.pr-2{
    padding-right: 50px;
}
.pr-3{
    padding-right:75px;
}
.pr-4{
    padding-right:100px  !important;
}

.pl-4{
    padding-left:100px  !important;
}

#navTag{
    margin-left:100px  !important;
}

.header{
    text-align: center;
    padding-bottom:20px;
    color:purple;   
}

.subHeader{
    /* margin-top: 400px; */
    text-align: center;
    /* border: 2px solid green  !important; */
    
}

.mainstyle{
    background-color:black;
    color:white
}

.tableBody{
    color:white !important;


}

.tableBody tr{
 height: 60px;
}
.textCenter{
    text-align: center;
}

.hoverEffect{
    cursor:pointer !important;
}